In [1]:
#Import of libary and csv file using pandas 
import pandas as pd
df = pd.read_csv("Data/Mall_Customers.csv")
print("Original Dataset Shape:", df.shape)

Original Dataset Shape: (200, 5)

In [3]:
# Initial Info of Dataset
print("\nInitial Data Info:")
print(df.info())
print("\nMissing Values:\n", df.isnull().sum())

#Handle Missing Values
df = df.dropna()
print("\nAfter Dropping Missing Values:", df.shape)

Initial Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None

Missing Values:
 CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

After Dropping Missing Values: (200, 5)

In [5]:
#Remove Duplicate Rows
df = df.drop_duplicates()
print("\nAfter Removing Duplicates:", df.shape)

After Removing Duplicates: (200, 5)

In [7]:
#Standardize Column Names
df.columns = df.columns.str.lower().str.replace(" ", "_")
print("After Replacing space to _ in Columns Name")
print(df.head())

After Replacing space to _ in Columns Name
   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [9]:
#Standardize Gender Column (capitalize values)
df['gender'] = df['gender'].str.capitalize()
print("After Standardize Gender Column ")
print(df.head())

After Standardize Gender Column
   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [11]:
#Check Data Types
print("\nData Types Before:")
print(df.dtypes)
# Convert CustomerID to string (ID type) and Age to integer
df['customerid'] = df['customerid'].astype(str)
df['age'] = df['age'].astype(int)
print("\nData Types After:")
print(df.dtypes)

Data Types Before:
customerid                 int64
gender                    object
age                        int64
annual_income_(k$)         int64
spending_score_(1-100)     int64
dtype: object

Data Types After:
customerid                object
gender                    object
age                        int64
annual_income_(k$)         int64
spending_score_(1-100)     int64
dtype: object

In [13]:
#Final Dataset Info
print("\nFinal Cleaned Data Info:")
print(df.info())

#Export Cleaned Data for future
df.to_csv("Data/cleaned_mall_customers.csv", index=False)
print("\nCleaned dataset saved as 'cleaned_mall_customers.csv'")

Final Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customerid              200 non-null    object
 1   gender                  200 non-null    object
 2   age                     200 non-null    int64
 3   annual_income_(k$)      200 non-null    int64
 4   spending_score_(1-100)  200 non-null    int64
dtypes: int64(3), object(2)
memory usage: 7.9+ KB
None

Cleaned dataset saved as 'cleaned_mall_customers.csv'